
    .container.order-detail a{
        color: #FF6C0C;
    }

    .container.order-detail a:hover{
        color: #E55B00;
    }
    .hidden{
        display: none
    }

    tbody tr td span.alert{
        padding: 0rem 1rem
    }

    thead tr th:nth-child(2){
        padding-left: 33px;
    }