
    .container.order-detail a{
        color: #FF6C0C;
    }

    .container.order-detail a:hover{
        color: #E55B00;
    }
    .hidden{
        display: none
    }

    tbody tr td span.alert{
        padding: 0rem 1rem
    }

    thead tr th:nth-child(2){
        padding-left: 33px;
    }

    @media (max-width: 600px) {
        tbody tr td span.alert,tbody tr td:nth-child(3), tbody tr td:nth-child(4)  {
            font-size: 10px;
        }

        thead tr th:nth-child(3){
            line-height: 14px;
        }

         tbody tr td:nth-child(4) a button {
            font-size: 10px;
        }
    }